Options -Indexes
DirectoryIndex index.php index.html

RewriteEngine On

RewriteRule ^listen-quran/?$ listen-quran.php [L]
RewriteRule ^listen-quran/reciter/([a-z0-9-]+)/?$ reciter.php?slug=$1 [L]
RewriteRule ^surah/([a-z0-9-]+)/?$ surah.php?slug=$1 [L]
RewriteRule ^read-quran/?$ read-quran.php [L]
RewriteRule ^dhikr/?$ dhikr.php [L]
RewriteRule ^islamic-qa/?$ qa.php [L]

AddType application/xml .xml
AddType text/plain .txt
